@tailwind base;
@tailwind components;
@tailwind utilities;
.content-container {
  display: flex;
}

.dashboard-column {
  flex: 1;
  padding: 20px;
}

.form-column {
  flex: 2;
  padding: 20px;
}
/* For small screens */
@media (max-width: 767px) {
  .table-container {
    display: flex;
    flex-direction: column;
  }

  .table-container table,
  .table-container thead,
  .table-container tbody,
  .table-container th,
  .table-container td,
  .table-container tr {
    display: block;
  }

  .table-container thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .table-container tr {
    border: 1px solid #ccc;
  }

  .table-container td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  .table-container td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-column);
    color: #000;
    font-weight: bold;
  }
}
